.plant-form {
  background-color: rgba(8, 32, 16, 0.6);
  margin-top: 160px;
  padding: 10px 30px 40px 30px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(8, 32, 16, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: fixed; */
}

.plant-form h1 {
  color: white;
  color: rgb(230, 233, 231);
}

.plant-form input,
.plant-form textarea,
.plant-form select {
  margin: 10px;
  border-radius: 2px;
  width: 200px;
  border: 1px solid rgba(200, 200, 200, 0.6);
}

.plant-form-page {
  background: url("../../images/1280px-Columnea_hirta_\(BG_Zurich\)-02.jpeg")
    center no-repeat;
  background-size: cover;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-input {
  margin-top: 20px;
}

.plant-form-buttons {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.plant-form-buttons button {
  margin: 40px 10px 0px 10px;
}
