/* td {
  padding: 10px;
} */
table {
  margin: 20px;
  table-layout: fixed;
  width: 30%;
  border-collapse: collapse;
  margin-left: 35%;
  border: 1px solid rgba(8, 32, 16, 0.6);
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(8, 32, 16, 0.2);
  /* background-color: white; */
}

td {
  padding: 10px;
}

.profile-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: white;
}

tr {
  border: 1px solid rgba(8, 32, 16, 0.2);
}

.profile-component img {
  width: 400px;
}

.profile-component h1 {
  margin-top: 50px;
  border: 1px solid rgba(8, 32, 16, 0.2);
}

.profile-plants a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container {
  width: 250px;
  height: 250px;
}

.img-container img {
  max-width: 250px;
  max-height: 250px;
}
