/* td {
  padding: 10px;
} */
table {
  margin: 20px;
  table-layout: fixed;
  width: 30%;
  border-collapse: collapse;
  margin-left: 35%;
  border: 1px solid rgba(8, 32, 16, 0.6);
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(8, 32, 16, 0.2);
}

td {
  padding: 10px;
}

.profile-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

tr {
  border: 1px solid rgba(8, 32, 16, 0.6);
}
