/* TODO Add site wide styles */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

p,
input,
file-input,
select,
textarea,
label {
  font-family: "Dosis", sans-serif;
  /* font-weight: lighter; */
  font-size: 14px;
  color: rgba(8, 32, 16, 1);
}

a,
button {
  font-family: "Dosis", sans-serif;
  font-size: 15px;
}

input[type="file"] {
  display: none;
}

.file-input {
  padding: 6px 10px 7px 10px;
  border: 0.5px solid rgba(200, 200, 200, 0.6);
  font-size: 15px;
  margin: 20px 20px 20px 10px;
  background-color: white;
  border-radius: 20px;
  font-weight: bold;
  color: rgba(8, 32, 16, 0.6);
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

a {
  color: rgba(8, 32, 16, 0.6);
  text-decoration: none;
}

button {
  padding: 6px 10px 7px 10px;
  /* font-size: 14px; */
  font-weight: bold;
  /* border: 1px solid rgba(200, 200, 200, 0.6); */
  border: 0.5px solid rgba(8, 32, 16, 0.2);
  box-shadow: 1px 1px 1px rgba(200, 200, 200, 0.2);
  background-color: white;
  color: rgba(8, 32, 16, 0.8);
  /* background-color: rgba(8, 32, 16, 0.2); */
  border-radius: 20px;
  /* background-color: rgba(8, 32, 16, 0.6); */
  /* height: 40px;
  width: 180px; */
  /* border-radius: 4px; */
  /* color: white; */
}

h1 {
  color: rgba(8, 32, 16, 0.6);
  font-family: "Raleway", sans-serif;
}

h4,
h2,
h3 {
  color: rgba(8, 32, 16, 0.8);
  font-family: "Raleway", sans-serif;
}

td {
  font-family: "Dosis", sans-serif;
  font-weight: lighter;
  font-size: 13px;
}

img {
  border-radius: 2px;
  /* margin: 10px; */
}

select {
  background-color: white;
}

input {
  padding: 5px;
  width: 200px;
}
