/* TODO Add site wide styles */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

p,
input,
file-input,
select,
textarea,
label {
  font-family: "Dosis", sans-serif;
  font-weight: lighter;
  font-size: 12px;
}

a,
button {
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  box-shadow: 1px 1px 1px rgba(200, 200, 200, 0.6);
  font-weight: bold;
}

input[type="file"] {
  display: none;
}

.file-input {
  padding: 4px 8px 4px 8px;
  border: 1px solid rgba(200, 200, 200, 0.6);
  font-size: 14px;
  margin: 20px 20px 20px 10px;
  background-color: white;
  border-radius: 2px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

a {
  color: rgba(8, 32, 16, 0.6);
  text-decoration: none;
  padding: 4px 8px 4px 8px;
  border: 1px solid rgba(200, 200, 200, 0.6);
  background-color: white;
  border-radius: 2px;
  padding: 8px 12px 8px 12px;
}

button {
  padding: 8px 16px 8px 16px;
  font-size: 14px;
  border: 1px solid rgba(200, 200, 200, 0.6);
  background-color: white;
  border-radius: 2px;
}

h1 {
  font-family: "Raleway", sans-serif;
  color: rgba(8, 32, 16, 0.6);
  /* font-weight: lighter; */
}

h4,
h2,
h3 {
  font-family: "Dosis", sans-serif;
}

td {
  font-family: "Dosis", sans-serif;
  font-weight: lighter;
}

img {
  border-radius: 2px;
  /* margin: 10px; */
}

select {
  background-color: white;
  box-shadow: 1px 1px 1px rgba(200, 200, 200, 0.6);
}

input {
  padding: 5px;
  width: 200px;
  box-shadow: 1px 1px 1px rgba(200, 200, 200, 0.6);
}
