.profiles-page img {
  width: 300px;
}

.profiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.profiles-page h4 {
  text-align: center;
}

.profiles-header h1 {
  margin-top: 80px;
  align-self: center;
}

.profiles-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.individual-profile {
  margin: 20px 10px 20px 10px;
  border: 1px solid rgba(8, 32, 16, 0.2);
  padding: 20px;
  border-radius: 2px;
  background-color: white;
  background-color: rgb(230, 233, 231);
  box-shadow: 1px 1px 1px rgba(8, 32, 16, 0.2);
}

.individual-profile h4 {
  width: 160px;
}

.profiles-page {
  background: rgba(8, 32, 16, 0.2);
}

.profile-nav {
  height: 50px;
  background-color: rgba(8, 32, 16, 0.7);
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.filter-by form {
  display: flex;
  flex-direction: row;
}

.filter-by form select {
  margin-top: 15px;
}

.filter-by form button {
  margin-top: 10px;
}
