.profiles-page img {
  width: 300px;
}

.profiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.profiles-page h4 {
  text-align: center;
}

.profiles-header h1 {
  margin-top: 80px;
  align-self: center;
}

.profiles-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.individual-profile {
  margin: 20px 10px 20px 10px;
  border: 1px solid rgba(56, 124, 78, 0.2);
  padding: 0px 20px 0px 20px;
  border-radius: 2px;
  background-color: white;
  background-color: rgb(230, 233, 231);
  background-color: rgb(243, 244, 243);
  box-shadow: 1px 1px 1px rgba(8, 32, 16, 0.2);
  height: 325px;
  position: relative;
}

.individual-profile h4 {
  width: 160px;
}

.profiles-page {
  background: rgba(8, 32, 16, 0.2);
  height: 3000px;
}

.profile-nav {
  height: 50px;
  background-color: rgba(8, 32, 16, 0.7);
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.profile-nav button {
  font-weight: lighter;
}

.profile-nav button:hover {
  /* -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02); */
  font-weight: bolder;
}

.filter-by form {
  display: flex;
  flex-direction: row;
}

.filter-by form select {
  margin-top: 11px;
  width: 200px;
  border: 1px solid rgba(200, 200, 200, 0.6);
  border-radius: 2px;
  /* margin: 100px 10px 50px 10px; */
  padding: 3px;
}

.filter-by form button {
  margin-top: 10px;
}

.common-name h5 {
  position: absolute;
  /* bottom: 20px; */
}

.individual-profile:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}
