.dash {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.user-info {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  padding: 20px;
  border: 1px solid green;
}

.plants {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.single-plant {
  margin: 20px;
  padding: 20px;
}

.dash-nav {
  margin-top: 100px;
}
