.user-info {
  display: flex;
  flex-direction: column;
  background: white;
  height: fit-content;
  padding: 20px;
  border: 0.5px solid rgba(8, 32, 16, 0.3);
  /* box-shadow: 1px 1px 1px rgba(200, 200, 200, 0.6); */
  box-shadow: 1px 1px 1px rgba(8, 32, 16, 0.3);
  border-radius: 2px;
  padding-bottom: 40px;
  /*margin-left: 40px; */
  margin: 40px 80px 40px 20px;
  box-sizing: border-box;
  height: 420px;
  width: 250px;
  box-sizing: border-box;
  position: relative;
  background-color: rgb(230, 233, 231);
}

.fa-edit {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.user-info h4 {
  color: rgba(8, 32, 16, 0.6);
}

.plants {
  display: flex;
  margin: 0px;
  padding: 30px 10px 0px 20px;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.single-plant {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px 10px 10px;
  text-align: center;
  padding: 0 10px 0 10px;
  border: 0.5px solid rgba(8, 32, 16, 0.3);
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(8, 32, 16, 0.3);
  background-color: white;
  background-color: rgb(230, 233, 231);
  height: 420px;
  width: 250px;
  box-sizing: border-box;
}

/* .single-plant p {
  width: 200px;
  color: rgba(8, 32, 16, 1);
  margin-bottom: 30px;
} */

.dash-nav {
  margin-top: 0px;
  display: flex;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-around;
  /* background-color: green; */
  background-color: rgba(8, 32, 16, 0.75);
}

.plant-header {
  text-align: center;
  margin-top: 40px;
  font-weight: lighter;
  color: rgba(8, 32, 16, 0.6);
  /* grid-column-start: 3;
  grid-column-end: 4; */
}

.dash-nav a {
  color: white;
  color: rgb(230, 233, 231);
  margin-top: 15px;
}

.dash {
  /* display: grid; */
  display: flex;
  background: rgba(8, 32, 16, 0.4);
  height: 4000px;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  width: 100%;
  position: relative;
}

.follows {
  display: flex;
  /* justify-content: space-around; */
  /* align-items: center; */
}

.following {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  position: absolute;
  padding: 5px;
  top: 500px;
  margin-left: 20px;
  width: fit-content;
  background-color: rgba(8, 32, 16, 0.4);
  box-sizing: border-box;
}

.follow {
  padding: 7px;
  /* background-color: rgba(8, 32, 16, 0.6); */
  background-color: white;
  height: 90px;
  margin: 10px;
  border-radius: 2px;
  border: 0.5px solid rgba(8, 32, 16, 0.2);
  box-shadow: 1px 1px 1px rgba(8, 32, 16, 0.3);
  background-color: rgb(230, 233, 231);
}

.follow:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.single-plant:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.dash-nav a:hover,
.dash-nav button:hover {
  /* -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02); */
  font-weight: bold;
}

.credits {
  position: absolute;
  bottom: 20px;
}
