@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

.splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background: url("../../images/1280px-Starr_070221-4863_Nephrolepis_cordifolia.jpg")
    center no-repeat;
  background-size: cover;
  height: 900px;
}

.center h1 {
  /* margin-top: 200px; */
  font-size: 5em;
  color: white;
  color: rgb(230, 233, 231);
  font-weight: bold;
  /* font-style: italic; */
}

.center p {
  font-size: 2em;
  color: white;
  font-family: "Nanum Gothic", sans-serif;
}

.login a,
.sign-up a {
  padding: 20px 18px 20px 18px;
  color: black;
  margin: 20px;
}

.auth-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 600px; */
}

.center {
  background-color: rgba(8, 32, 16, 0.4);
  position: fixed;
  border-radius: 2px;
  margin-top: 200px;
  height: 400px;
  width: 540px;
  text-align: center;
}

.login,
.sign-up {
  background-color: white;
  border-radius: 4px;
  margin: 10px;
  height: 30px;
  box-sizing: border-box;
}
/* 
.animation {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
} */
