.profile {
  display: none;
}

.plant-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  background-color: rgba(8, 32, 16, 0.4);
}

/* .plant-page h1 {
  text-align: center;
  margin-top: 50px;
} */

.plant-profile {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons button {
  margin: 20px;
  background-color: rgba(8, 32, 16, 0.6);
  height: 40px;
  width: 180px;
  border-radius: 4px;
  color: white;
}

.buttons button a {
  color: white;
}

.individual-entry {
  border: 1px solid rgba(200, 200, 200, 0.6);
  box-shadow: 1px 1px 1px rgba(200, 200, 200, 0.4);
  border-radius: 2px;
  margin: 20px;
  padding: 20px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
}

.plant-info {
  background-color: white;
  margin-top: 100px;
  padding: 0 20px 30px 20px;
}

.plant-info p {
  width: 400px;
  font-size: 14px;
}
