.profile {
  display: none;
}

.plant-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.plant-page h1 {
  text-align: center;
  margin-top: 50px;
}

.plant-profile {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tend-btn button,
.plant-profile button {
  /* padding: 20px; */
  margin: 20px;
  background-color: rgba(8, 32, 16, 0.6);
  height: 40px;
  width: 80px;
  border-radius: 4px;
  color: white;
  /* box-sizing: border-box; */
}

/* .tend-btn a {
  padding-top: 20px;
  padding-left: 10px;
} */

.plant-profile button {
  width: 180px;
  color: white;
}
