.nav-bar {
  display: flex;
  justify-content: space-around;
  height: 55px;
  width: 100%;
  background-color: white;
  background-size: cover;
  position: fixed;
  top: 0;
  /* background-color: rgba(8, 32, 16, 0.6); */
}

.login-btn a,
.sign-up-btn a,
.user-btn a,
.home-btn a {
  position: absolute;
  top: 10px;
}

.fa-leaf {
  position: fixed;
  top: 10px;
  left: 10px;
}

/* .fa-search {
  color: rgba(8, 32, 16, 0.6);
} */

.nav-bar button {
  border: none;
}

.navatar {
  position: fixed;
  top: 10px;
  right: 10px;
}

.nav-bar input {
  padding: 5px;
  margin-top: 15px;
}

/* .search input {
  width: 200px;
  border: 1px solid rgba(200, 200, 200, 0.6);
  border-radius: 2px;
} */

/* .search {
  position: absolute;
  left: 140px;
} */

.nav-bar a {
  padding-top: 5px;
}
