.nav-bar {
  display: flex;
  justify-content: space-around;
  height: 55px;
  width: 100%;
  background-color: white;
  /* background-color: rgba(8, 32, 16, 0.6); */
  background-size: cover;
  position: fixed;
  top: 0;
}

.login-btn a,
.sign-up-btn a,
.user-btn a {
  /* color: black; */
  color: rgba(8, 32, 16, 0.6);
  position: fixed;
  top: 12px;
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  background: rgba(8, 32, 16, 0.1);
  background: white;
  box-shadow: 1px 1px 1px rgba(8, 32, 16, 0.2);
  font-weight: bold;
  border: 0.5px solid rgba(8, 32, 16, 0.2);
  border-radius: 20px;
  padding: 6px 10px 7px 10px;
}

.fa-leaf {
  position: fixed;
  left: 10px;
  top: 12px;
  /* background-color: white; */
}

.navatar {
  position: absolute;
  right: 25px;
  top: 10px;
}

.login-btn {
  position: fixed;
  right: 60px;
}

.sign-up-btn {
  position: fixed;
  top: 12px;
  right: 125px;
}

.nav-bar a {
  /* padding-top: 5px; */
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  box-shadow: 1px 1px 1px rgba(200, 200, 200, 0.6);
  font-weight: bold;
  /* background-color: rgba(8, 32, 16, 0.6); */
  border-radius: 20px;
}

.logout-btn {
  margin-top: 15px;
  position: fixed;
  right: 80px;
}

/* .drop-down-profile ul {
  right: 40px;
}

.drop-down-profile li {
  padding: 5px;
} */
